@import "tailwindcss";

@theme {
    --color-primary: #e42026;
    --color-secondary: #fce9e9;
}

/* in your global CSS */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* // xominop994@lawior.com */